@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
button{
  box-shadow: none;
  border: none;
  cursor: pointer;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
  padding-top: 25px;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 10px 0 0;
    width: calc(50% - 80px);
    text-align: left;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  padding-top: 10px;
  background-color: #3397DB;
  align-items: center;
}
.filter-options h5 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list::after{
  display: block;
  clear:both;
  content:'';
  display:block;
  width:0;
  height:0;
  visibility:hidden;
}
#restaurants-list li {
  float: left;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 10px 0 0 0;
  text-align: left;
  position: relative;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h5 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 0 10px;
  text-transform: uppercase;
  padding: 0 5px;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
  padding: 0 5px;
}
#restaurants-list li .wrapper-img{
  float: left;
  width: 60%;
}
#restaurants-list li .wrapper-text{
  float: left;
  height: 100%;
  width: 40%;
  padding-bottom: 50px;
}
#restaurants-list li button {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 10pt;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 40%;
  position: absolute;
  bottom: 0;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px);
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h5 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#reviews-list .rating{
  background: #333;
  color: #fff;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Responsive style ====================== */ 
@media screen and (min-width:1321px){
  #restaurants-list li{
    margin-left: 2%;
    width: calc(32% - 5px);
  }
  #restaurants-list li:nth-child(3n+1){
    margin-left: 0;
  }
}
@media screen and (min-width:876px) and (max-width:1320px){
  #restaurants-list li h5 {
    font-size: 13.2pt
  }
  #restaurants-list li{
    margin-left: 2%;
    width: calc(49% - 5px);
  }
  #restaurants-list li:nth-child(2n+1){
    margin-left: 0;
  }
}
@media screen and (min-width:466px) and (max-width:875px){
  #map{
    height: 360px;
  }
  #restaurants-list li{
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (min-width:366px) and (max-width:465px){
  #restaurants-list{
    padding: 10px 5px;
  }
  #restaurants-list li h5 {
    font-size: 12pt;
    margin: 6px 0;
  }
  #restaurants-list li .wrapper-text{
    padding-bottom: 35px;
  }
  #restaurants-list p{
    font-size: 10pt;
  }
  #map{
    height: 320px;
  }
  #restaurants-list li{
    margin-left: 0;
    width: 100%;
  }
  
}
@media screen and (min-width:276px) and (max-width:365px){
  #restaurants-list{
    padding: 10px 5px;
  }
  #restaurants-list li h5 {
    font-size: 10pt;
    margin: 6px 0;
  }
  #restaurants-list li .wrapper-img{
    width: 50%;
  }
  #restaurants-list li .wrapper-text{
    width: 50%;
    padding-bottom: 30px;
  }
  #restaurants-list p{
    font-size: 9.6pt;
  }
  #map{
    height: 240px;
  }
  #restaurants-list li{
    margin-left: 0;
    width: 100%;
  }
  #restaurants-list li button{
    padding: 5px 0;
    width: 50%;
  }
}
@media screen and (max-width:275px){
  nav{
    padding-top: 8px;
  }
  nav h1 a{
    font-size: 11pt;
  }
  #map{
    height: 210px;
  }
  #restaurants-list li{
    margin-left: 0;
    width: 100%;
    min-height: 340px;
  }
  #restaurants-list li h5{
    font-size: 11pt;
  }
  #restaurants-list p{
    font-size: 10pt;
  }
  #restaurants-list{
    padding: 10px 15px 30px;
  }
  #footer{
    padding: 15px;
  }
  #restaurants-list li .wrapper-img{
    width: 100%;
  }
  #restaurants-list li .wrapper-text{
    width: 100%;
    padding-bottom: 30px;
  }
  #restaurants-list li button{
    padding: 10px 0;
    width: 100%;
  }
}
@media screen and (max-width:875px) {
  #restaurant-name{
    font-size: 18pt;
  }
  #reviews-container h5{
    font-size: 18pt;
  }
  #reviews-list li{
    margin-right: 0;
    width: calc(100% - 40px)
  }
  .inside header{
    position: relative;
  }
  #breadcrumb,
  .inside #footer{
    width: 100%;
  }
  .inside #map-container{
    position: relative;
    width: 100%;
    height: 400px;
    top: auto;
  }
  #restaurant-container, #reviews-container{
    position: relative;
    width: calc(100% - 40px);
    padding: 10px 0 15px 40px;
  }
}
@media screen and (max-width:535px) {
  .inside header{
    position: relative;
  }
  #breadcrumb{
    padding-left: 20px;
  }
  #breadcrumb,
  .inside #footer{
    width: 100%;
  }
  .inside #map-container{
    position: relative;
    width: 100%;
    height: 400px;
    top: auto;
  }
  #restaurant-container, #reviews-container{
    position: relative;
    width: calc(100% - 20px);
    padding: 10px 10px 15px;
  }
}